[submodule "project_hook_unity_jni/xHook"]
	path = project_hook_unity_jni/xHook
	url = https://github.com/iqiyi/xHook.git
[submodule "ApkDiffPatch"]
	path = ApkDiffPatch
	url = https://github.com/ilinchunjie/ApkDiffPatch.git
[submodule "project_hook_unity_jni/bhook"]
	path = project_hook_unity_jni/bhook
	url = https://github.com/bytedance/bhook.git
